@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply antialiased;
    @apply bg-base text-text;
  }

  html {
    --ow-base: 250 250 250;
    --ow-surface: 245 245 245;
    --ow-overlay: 229 229 229;
    --ow-accent: 59 130 246;
    --ow-text: 0 0 0;
    --ow-danger: 248 113 113;
  }

  html.dark {
    --ow-base: 10 10 10;
    --ow-surface: 23 23 23;
    --ow-overlay: 38 38 38;
    --ow-accent: 59 130 246;
    --ow-text: 255 255 255;
    --ow-danger: 239 68 68;
  }

  a,
  button,
  input,
  textarea,
  select {
    @apply ring-accent ring-offset-base outline-none ring-offset-2 focus:ring-2;
  }
}

@layer components {
  #app {
    @apply fixed inset-0 flex flex-col md:flex-row;
  }
}
